@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-style {
    display: grid;
    padding-left: 2.5rem; /* 16px pour mobile */
    padding-right: 2.5rem;
    justify-content: space-between;
    width: 100%;
    grid-template-columns: 1fr;
}

/* Mobile */
@media (min-width: 640px) {
    .section-style {
        padding-left: 2.5rem; /* 40px */
        padding-right: 2.5rem;
    }
}

/* Tablette */
@media (min-width: 768px) {
    .section-style {
        padding-left: 4rem; /* 64px */
        padding-right: 4rem;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .section-style {
        padding-left: 8rem; /* 128px */
        padding-right: 8rem;
    }
}

/*-------------------------------- HEADLINE --------------------------------*/
/*Headline large*/
.headline-large-regular {
    font-family: Poppins, serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
}

.headline-large-medium {
    font-family: Poppins, serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 500;
}

.headline-large-sbold {
    font-family: Poppins, serif;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
}

/*Headline medium*/
.headline-medium-regular {
    font-family: Poppins, serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
}

.headline-medium-medium {
    font-family: Poppins, serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
}

.headline-medium-sbold {
    font-family: Poppins, serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
}

/*Headline small*/
.headline-small-regular {
    font-family: Poppins, serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
}

.headline-small-medium {
    font-family: Poppins, serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
}

.headline-small-sbold {
    font-family: Poppins, serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
}

/*-------------------------------- HEADLINE --------------------------------*/

/*-------------------------------- TITLE --------------------------------*/
/*Title large*/
.title-large-regular {
    font-family: Poppins, serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.title-large-medium {
    font-family: Poppins, serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.title-large-sbold {
    font-family: Poppins, serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

/*Title medium*/
.title-medium-regular {
    font-family: Poppins, serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
}

.title-medium-medium {
    font-family: Poppins, serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

.title-medium-sbold {
    font-family: Poppins, serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

/*Title small*/
.title-small-regular {
    font-family: Poppins, serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.title-small-medium {
    font-family: Poppins, serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.title-small-sbold {
    font-family: Poppins, serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

/*-------------------------------- TITLE --------------------------------*/

/*-------------------------------- BODY --------------------------------*/
/*Body large*/
.body-large-regular {
    font-family: Poppins, serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.body-large-medium {
    font-family: Poppins, serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.body-large-sbold {
    font-family: Poppins, serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
}

/*Body medium*/
.body-medium-regular {
    font-family: Poppins, serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.body-medium-medium {
    font-family: Poppins, serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.body-medium-sbold {
    font-family: Poppins, serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

/*Body small*/

.body-small-regular {
    font-family: Poppins, serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.body-small-medium {
    font-family: Poppins, serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
}

.body-small-sbold {
    font-family: Poppins, serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}

/*-------------------------------- BODY --------------------------------*/

.little-separator {
    width: 1.5rem;
}

.medium-separator {
    width: 3rem;
}

.big-separator {
    width: 5rem;
}

body {
  margin: 0;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

/*font override tailwinds*/
@layer base {
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        src: url('../public/fonts/Poppins/Poppins-Thin.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        src: url('../public/fonts/Poppins/Poppins-ExtraLight.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        src: url('../public/fonts/Poppins/Poppins-Light.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: url('../public/fonts/Poppins/Poppins-Regular.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        src: url('../public/fonts/Poppins/Poppins-Medium.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: url('../public/fonts/Poppins/Poppins-SemiBold.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        src: url('../public/fonts/Poppins/Poppins-Bold.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        src: url('../public/fonts/Poppins/Poppins-ExtraBold.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        src: url('../public/fonts/Poppins/Poppins-Black.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 100;
        src: url('../public/fonts/Poppins/Poppins-ThinItalic.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 200;
        src: url('../public/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 300;
        src: url('../public/fonts/Poppins/Poppins-LightItalic.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src: url('../public/fonts/Poppins/Poppins-Italic.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 500;
        src: url('../public/fonts/Poppins/Poppins-MediumItalic.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 600;
        src: url('../public/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        src: url('../public/fonts/Poppins/Poppins-BoldItalic.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 800;
        src: url('../public/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('ttf');
    }
    @font-face {
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 900;
        src: url('../public/fonts/Poppins/Poppins-BlackItalic.ttf') format('ttf');
    }
}

@layer components {
    .team-member-card img {
        transition: transform 0.2s ease-in-out;
    }
    
    .team-member-card:hover img {
        transform: scale(1.03);
    }
    
    .body-small-regular {
        font-family: Poppins, serif;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
    }

    .body-medium-regular {
        font-family: Poppins, serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    .body-medium-sbold {
        font-family: Poppins, serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }

    .title-small-sbold {
        font-family: Poppins, serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
    }

    .body-medium-medium {
        font-family: Poppins, serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
    }

    .body-large-medium {
        font-family: Poppins, serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
    }

    .section-header-title {
        @apply title-medium-sbold;  /* Mobile par défaut */
    }

    .section-header-subtitle {
        @apply body-small-regular;  /* Mobile par défaut */
    }

    .checkbox-text-size {
        @apply body-small-medium;  /* Mobile par défaut */
    }

    .what-we-do-title {
        @apply body-large-sbold; /* Mobile par défaut */
    }

    .what-we-do-body {
        @apply body-small-regular; /* Mobile par défaut */
    }

    .they-trust-us-title {
        @apply title-small-sbold; /* Mobile par défaut */
    }

    .they-trust-us-body {
        @apply body-medium-regular; /* Mobile par défaut */
    }

    .they-trust-us-person-name {
        @apply body-large-medium; /* Mobile par défaut */
    }

    @media (min-width: 768px) {
        .section-header-title {
            @apply headline-small-sbold;  /* Tablette */
        }

        .checkbox-text-size {
            @apply body-medium-medium;  /* Tablette */
        }

        .section-header-subtitle {
            @apply body-medium-regular;  /* Tablette */
        }

        .what-we-do-title {
            @apply title-small-sbold; /* Tablette */
        }

        .what-we-do-body {
            @apply body-medium-regular; /* Tablette */
        }

        .they-trust-us-title {
            @apply headline-small-sbold; /* Tablette */
        }

        .they-trust-us-body {
            @apply body-large-regular; /* Tablette */
        }

        .they-trust-us-person-name {
            @apply title-small-medium; /* Tablette */
        }
    }

    @media (min-width: 1024px) {
        .section-header-title {
            @apply headline-medium-sbold;  /* Desktop */
        }

        .checkbox-text-size {
            @apply body-large-medium;  /* Desktop */
        }

        .section-header-subtitle {
            @apply title-small-regular;  /* Desktop */
        }

        .what-we-do-title {
            @apply title-medium-sbold; /* Desktop */
        }

        .what-we-do-body {
            @apply body-large-regular; /* Desktop */
        }

        .they-trust-us-title {
            @apply headline-medium-sbold; /* Desktop */
        }

        .they-trust-us-body {
            @apply body-large-regular; /* Desktop */
        }

        .they-trust-us-person-name {
            @apply title-small-medium; /* Desktop */
        }
    }
}
